
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class=" ="col-md-8">
    <h2>Hakkimizda</h2>
</div>


<p>
    Selamlar

    Ben: gezmeyi ve yeni yerler görmeyi seviyorum. İlk defa yurt dışına çıktığımda, 2009 yılında, tur görevlisinin tutum ve davranışları nedeniyle yaşadığım olumsuzluklar sonucu, gitmek ve görmek istediğim yerler hakkında, gitmeden önce gerek internet ortamında ve gerekse yazılı kaynaklardan bilgi toplamaya başladım. Hatta, gitmeden önce, gitmek istediğim yerle ilgili olarak “G.Earth” denen programı kullanarak oranın cadde ve sokaklarında sanal gezinti yaptım. Burada sözünü ettiğim tur görevlisi yani rehber olarak nitelendirilen kişiler olarak; elbette yaptığı işe ve tura katılanlara karşı son derece saygılı ve bilgili kişileri kastetmiyorum. Yani “Turizm Bakanlığı” kokartlı tur rehberleri, belli bir denetim mekanizması içinde olmaları nedeniyle çok farklılar, ancak yurt dışı turlarında, bir çok seyahat acentası, böyle bir kokart zorunluluğu aramadan, gidilen yerde ikamet eden kişileri, rehber olarak görevlendiriyor ve bu durumda, o kişiler hakkında herhangi bir şikayet durumunda, muhatap bulmak sorun oluyor. İnanıyorum ki, bu satırları okuyan sizler, mutlaka bu konuda sıkıntı yaşamışsınızdır.

    Evet, söylediğim gibi: amaç, hiçbir kişi veya başkaca bir yayına, yazılı kaynağa ihtiyacınız olmadan: gittiğiniz yerde size yardımcı olmaktır. Ana temalar: gittiğiniz yer hakkında: tarih, hava durumu, dil, din, para, ulaşım, trafik, şehir içi ulaşımı, metro, taksi, otobüs, elektrik, gece hayatı ve eğlence vs. konularda kısa bir giriştir. Ardından: ne satın alınır, alışveriş, ne yenir, ne içilir, gezilecek yerler, nasıl gidilir, nelere dikkat etmeli, neleri görmelisiniz. Tüm bunlar okuru sıkmamak adına, kısa ve öz anlatım şeklinde verilmekte ve fotoğraflarla zenginleştirilmektedir.

    Yurt dışı gezileri yanında, ülkemizin her yerini görevim sebebiyle gördüm diyebilirim. Yani, ülkemiz sınırları içinde gidip görmediğim yer yok. Yine, güzel ülkemizin tarihi ve turistik birçok belde ve bölgesinin turistik özelliklerine ait ayrıntılı yazıları, bu sitede bulabilirsiniz.

    1’nci sorun: ben bu yazıları yazdığımda, bazı yerleri ziyaretim üzerinden zaman geçmekte ve elbette bazı değişiklikler söz konusu olmaktadır. Bu sıkıntıyı: orayı yeni ziyaret eden okurların bıraktıkları “yorumlar” ile gidermeye çalışıyorum. Yani: “lütfen burada yazılı olan, gezip gördüğünüz yerlerle ilgili yorumlarınızı” yazınız.

    2’nci sorun: bizzat gidip gördüğüm ve yazarak emek verdiğim yazıların: başkaları veya başka siteler tarafından “kopyala-yapıştır” şeklinde alınarak, bir çeşit “emek hırsızlığı” yapılmasıdır. Bu durumu, kişilerin önce “vicdanına” ve gerektiğinde “yasal takip” yükümlülüğüne bırakmak durumundayım.

    Üyelik sistemi: Son 3 yıllık süreçte, bana birlikte koordine edilip gezi düzenlenmesi ve gezilip görülen yerlerle ilgili çeşitli bilgi talepleri doğrultusunda, ÜYELİK SİSTEMİ kurulmasına karar verdik. İstedik ki, üyelerimiz olsun, bu üyelerimizle birlikte, resmi yani Tursab kayıtlısı seyahat acentaları aracılığı ile temin edeceğimiz uygun fiyatlı ve uygun şartları olan geziler yapalım. Üye sayımız hızla artmaktadır, üye olmak üzere müracaat eden kişilerin profilleri incelendikten sonra üyelikleri onaylanmaktadır. Ardından, yapmayı düşündüğümüz programlarla ilgili üyelerin görüş ve önerileri ve katılımları sorulmaktadır.
</p>